html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  position: relative;
}

.badge {
  font-size: 1.5rem;
}

.badge-pill {
  font-size: 1rem;
}

.badge-black-transparent {
  background: rgba(0, 0, 0, .75);
}

footer.bg-dark {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.logo-container {
  position: relative;
}

.logo {
  height: 23px;
  left: 0;
  position: absolute;
  width: 23px;
}

.bio {
  border: 7px #343a40 solid;
  border-radius: 250px;
  height: 250px;
  width: 250px;
}

.nav-link:hover {
  color: #fff;
}

.github-logo {
  background: transparent url(./Images/github-logo.png) no-repeat center center / contain;
}

.mail-logo {
  background: transparent url(./Images/mail.png) no-repeat center center / contain;
}

#root {
  min-height: 100vh;
  position: relative;
}

#tsparticles {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
}

.text-background {
  background: rgba(0, 0, 0, .75);
  border-radius: 5px;
  line-height: 1.75rem;
  padding: 1rem;
}

.text-background.inline-block {
  display: inline-block;
}

.text-background.inline-block span {
  padding-right: 1rem;
}

.text-background.inline-block span:last-child {
  padding-right: 0;
}

.skills ul {
  margin: 0;
  padding: 0;
}

.skills li  {
  display: inline-flex;
  padding-right: 1rem;
}

.text-blue {
  color: #007bff;
}

.about {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 31.25em) {
  .contact {
    padding: 1em 0 0 0;
  }

  .m-stack {
    display: block!important;
  }

  .about {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
  }
}

@media (max-width: 48rem) {
  .text-background.inline-block span {
    display: inline-block;
  }  
}
