.badge {
  font-size: 1.5rem;
}

.badge-pill {
  font-size: 1rem;
}

.logo-container {
  position: relative;
}

.logo {
  height: 23px;
  left: 0;
  position: absolute;
  width: 23px;
}

.github-logo {
  background: transparent url(./Images/github-logo.png) no-repeat center center / contain;
}

.mail-logo {
  background: transparent url(./Images/mail.png) no-repeat center center / contain;
}

.skills ul {
  margin: 0;
  padding: 0;
}

.skills li  {
  display: inline-flex;
  padding-right: 1rem;
}

@media (max-width: 31.25em) {
  .contact {
    padding: 1em 0 0 0;
  }

  .m-stack {
    display: block!important;
  }
}
